<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PayloadContent</key>
	<array>
		<dict>
			<key>PayloadDescription</key>
			<string>DESCRIPTION OF PROFILE</string>
			<key>PayloadDisplayName</key>
			<string>NAME OF PROFILE</string>
			<key>PayloadIdentifier</key>
			<string>717A9989-36E0-456D-BC94-46E24D7F1FB1</string>
			<key>PayloadOrganization</key>
			<string>ORAGANIZATION NAME</string>
			<key>PayloadType</key>
			<string>com.apple.TCC.configuration-profile-policy</string>
			<key>PayloadUUID</key>
			<string>029C808E-7B2D-4369-A435-47F7D0CEDC6C</string>
			<key>PayloadVersion</key>
			<integer>1</integer>
			<key>Services</key>
			<dict>
				<key>AppleEvents</key>
				<array>
					<dict>
						<key>AEReceiverCodeRequirement</key>
						<string>identifier "com.apple.systemevents" and anchor apple</string>
						<key>AEReceiverIdentifier</key>
						<string>com.apple.systemevents</string>
						<key>AEReceiverIdentifierType</key>
						<string>bundleID</string>
						<key>Allowed</key>
						<true/>
						<key>CodeRequirement</key>
						<string>identifier "com.microsoft.intuneMDMAgent" and anchor apple generic and certificate 1[field.1.2.840.113635.100.6.2.6] /* exists */ and certificate leaf[field.1.2.840.113635.100.6.1.13] /* exists */ and certificate leaf[subject.OU] = UBF8T346G9</string>
						<key>Comment</key>
						<string></string>
						<key>Identifier</key>
						<string>com.microsoft.intuneMDMAgent</string>
						<key>IdentifierType</key>
						<string>bundleID</string>
					</dict>
					<dict>
						<key>AEReceiverCodeRequirement</key>
						<string>identifier "com.apple.systemuiserver" and anchor apple</string>
						<key>AEReceiverIdentifier</key>
						<string>com.apple.systemuiserver</string>
						<key>AEReceiverIdentifierType</key>
						<string>bundleID</string>
						<key>Allowed</key>
						<true/>
						<key>CodeRequirement</key>
						<string>identifier "com.microsoft.intuneMDMAgent" and anchor apple generic and certificate 1[field.1.2.840.113635.100.6.2.6] /* exists */ and certificate leaf[field.1.2.840.113635.100.6.1.13] /* exists */ and certificate leaf[subject.OU] = UBF8T346G9</string>
						<key>Comment</key>
						<string></string>
						<key>Identifier</key>
						<string>com.microsoft.intuneMDMAgent</string>
						<key>IdentifierType</key>
						<string>bundleID</string>
					</dict>
					<dict>
						<key>AEReceiverCodeRequirement</key>
						<string>identifier "com.apple.finder" and anchor apple</string>
						<key>AEReceiverIdentifier</key>
						<string>com.apple.finder</string>
						<key>AEReceiverIdentifierType</key>
						<string>bundleID</string>
						<key>Allowed</key>
						<true/>
						<key>CodeRequirement</key>
						<string>identifier "com.microsoft.intuneMDMAgent" and anchor apple generic and certificate 1[field.1.2.840.113635.100.6.2.6] /* exists */ and certificate leaf[field.1.2.840.113635.100.6.1.13] /* exists */ and certificate leaf[subject.OU] = UBF8T346G9</string>
						<key>Comment</key>
						<string></string>
						<key>Identifier</key>
						<string>com.microsoft.intuneMDMAgent</string>
						<key>IdentifierType</key>
						<string>bundleID</string>
					</dict>
				</array>
			</dict>
		</dict>
	</array>
	<key>PayloadDescription</key>
	<string>PROFILE DESCRIPTION</string>
	<key>PayloadDisplayName</key>
	<string>PROFILE NAME</string>
	<key>PayloadIdentifier</key>
	<string>717A9989-36E0-456D-BC94-46E24D7F1FB1</string>
	<key>PayloadOrganization</key>
	<string>ORAGANIZATION NAME</string>
	<key>PayloadScope</key>
	<string>System</string>
	<key>PayloadType</key>
	<string>Configuration</string>
	<key>PayloadUUID</key>
	<string>B8A86FA2-3F3C-43C5-AEAC-C91DF96DE074</string>
	<key>PayloadVersion</key>
	<integer>1</integer>
</dict>
</plist>
